<%= link_to 'Create group', new_group_path, class: 'block m-1 p-2 text-white rounded bg-teal-700 hover:bg-teal-900 hover:shadow-xl' %>
<% if @public_groups.present? %>
	<div class="bg-blue-100 border-aqua p-2">
		<div><strong><h2>Public Groups</h2></strong></div>
	  <% @public_groups.each do |group| %>
		  <div class="truncate
		  ">
		    <%= link_to group.name, group_path(group), class: 'inline-block bg-teal-600 hover:bg-teal-800 text-white mt-4 rounded px-2 py-1' %>
		  </div>
	  <% end %>
	</div>
<% end%>
<% if @private_groups.present? %>
	<div class="bg-blue-100 border-aqua p-2">
		<div><strong><h2>Private Groups</h2></strong></div>
	  <% @private_groups.each do |group| %>
		  <div class="truncate
		  ">
		    <%= link_to group.name, group_path(group), class: 'inline-block bg-teal-600 hover:bg-teal-800 text-white mt-4 rounded px-2 py-1' %>
		  </div>
	  <% end %>
	</div>
<% end%>