<div class="bg-blue-100 border-aqua p-2">
  <div class="truncate">
    <%= link_to conversation.opposed_user(current_user).username, conversation_path(conversation), class: 'inline-block bg-teal-600 hover:bg-teal-800 text-white mt-4 rounded px-2 py-1' %>
  </div>

  <div class="truncate
  ">
    <%= link_to group.name, group_path(group), class: 'inline-block bg-teal-600 hover:bg-teal-800 text-white mt-4 rounded px-2 py-1' %>
  </div>
</div>




  
  